/* .App {
  text-align: center;
} */
 :root {
  --header-length: 74px;
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main {
  margin-top: var(--header-length) !important;
  min-height: 80vh;
}


.App-link {
  color: #61dafb;
}

.navbar-brand-name {
  font-family: 'Billabong', cursive !important;
  font-size: 2rem !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Profile */
.profile-header {
  text-align: center;
  margin-bottom: 30px;
}
.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-header h2 {
  margin-top: 10px;
}
.profile-form {
  max-width: 600px;
  margin: 0 auto;
}